#///////////////////////////
# Go 构建产物
#///////////////////////////
*.exe
*.exe~
*.dll
*.so
*.dylib

#//////////////////////////
# 测试二进制与输出
#//////////////////////////
*.test
*.out
*.log

#//////////////////////////
# 本地环境
#//////////////////////////
.env
.env.*
